@media (min-width: @screen-sm-min) {
  .header-fragments {
    .layout {
      .header-top-content {
        .layout-region.header {
          z-index: 1000 !important;
          position: static !important;
        }
      }
    }
  }

  //Popup
  .popup-list {
    &.user {
      font-size: 16px;
    }
  }

  //Footer
  .footer-fragments {
    .layout {
      max-width: 100% !important;
      margin: 0;
    }
  }
}