.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.round(@radius: 500px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radius (@tl: 0, @tr: 0, @br: 0, @bl: 0) {
  -webkit-border-radius: @tl @tr @br @bl;
  -moz-border-radius: @tl @tr @br @bl;
  border-radius: @tl @tr @br @bl;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.transform(@arguments) {
  transform: @arguments;
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
}

.transition(@arguments) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  transition: @arguments;
}

.no-transition {
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}

.transform-origin (@arguments) {
  -webkit-transform-origin: @arguments;
  -moz-transform-origin: @arguments;
  -ms-transform-origin: @arguments;
  -o-transform-origin: @arguments;
}

.stroke (@strokecolor: @color-foreground, @fillcolor: @color-background) {
  -webkit-text-fill-color: @fillcolor;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: @strokecolor;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gradient (@direction: 'top', @startColor: '#fff', @endColor: '#000', @startOffset: 0, @endOffset: 100) {
  background-color: @startColor;
  background-image: -webkit-linear-gradient(@direction, @startColor @startOffset, @endColor @endOffset);
  background-image: -moz-linear-gradient(@direction, @startColor @startOffset, @endColor @endOffset);
  background-image: -ms-linear-gradient(@direction, @startColor @startOffset, @endColor @endOffset);
  background-image: -o-linear-gradient(@direction, @startColor @startOffset, @endColor @endOffset);
}

.spin (@duration: '1000ms') {
  -webkit-animation-name: spin;
  -webkit-animation-duration: @duration;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: @duration;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: @duration;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: @duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hyphenate {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@sidebars: ~'.left-sidebar, .right-sidebar, .split-sidebar-left, .split-sidebar-right';

@small-sidebars: ~'.left-sidebar, .split-sidebar-right, .split-sidebar-left, .content-left-sidebar-right .right-sidebar, .sidebar-left-content-center-sidebar-right .right-sidebar, .header-top-sidebar-left-content-center-sidebar-right .right-sidebar, .header-top-content-left-sidebar-right .right-sidebar, .header-top-content-left-sidebar-right-footer .right-sidebar, .header-top-sidebar-left-content-center-sidebar-right-footer .right-sidebar, .header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .right-sidebar';

@medium-sidebars: ~'.content-left-split-sidebar-right-top-single-sidebar-right-bottom .right-sidebar, .header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .right-sidebar, .split-content .right-sidebar, .header-top-split-content .right-sidebar,  .header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .right-sidebar, .header-top-split-content-footer .right-sidebar';

.button-size(@padding-vertical, @padding-horizontal, @font-size, @line-height, @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

.user-select(@select) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select; // IE10+
  user-select: @select;
}

.button-variant-v2(@color, @background, @border, @hover-color, @hover-background, @hover-border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: @color;
    background-color: @hover-background;
    border-color: @hover-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.placeholder(@color) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}