@charset "UTF-8";
/* Header Styling*/
#svg_fallback   {
background:url("/images/logos/new_brand_sonicwall.png");
}
object {
pointer-events: none;
}
.masthead {
margin: 0;
background-color: #fff;
}
.masthead a {
color: #005D84;
}
.top-header {
display: none;
}
.masthead-shadow-section{
display:none;
}
.masthead .main-nav-section ul.tier1 li.open > a {
color: #e2642c;
background-color: #fff;
}
.masthead .utility a:link, .masthead .utility a:visited { 
color: #4a4a4a;
}
.masthead .utility a:hover, .masthead .utility a:focus {
color: #005D84;
}
.masthead ul.tier1 > li:hover > a {
color: #e2642c;
}
.masthead .navbar-brand {
margin: 21px 20px 0 15px;
}
.shadow-overlay-left{
display: none !important;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
background-color: #e2642c
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
border-color: #005D84;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
background-color: #005D84;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
background-color: #e2642c;
}
.navbar-inverse {
background-color: #63666a;
}
.masthead .utility-section-wrapper {
border-bottom: none;
background-color: #FFF;
margin: 0px;
}
.masthead .main-nav-section ul div.tier2 > .container > div > a {
color: #4a4a4a;
}
.masthead .main-nav-section ul div.tier2 .tier3 .container .row > div aside {
background-color: #fff;
border: 1px solid #eee;
}
/*Footer Styling*/
#footer {
margin-top: 0px
}
@media (min-width: 768px){
#footer .footer-top-section {
background-color: #4a4a4a !important;
}
#footer .footer-copyright-section {
background-color: #63666a;
color: #EEE;
}
#footer .footer-copyright-section a {
color: #EEE;
}
}
/* Tablet Styling*/
@media (max-width: 991px) and (min-width: 768px){
.masthead .main-nav-section .tier1 ul {
border-bottom: 4px solid #E2642C !important;
}
.masthead ul.tier1 li:hover a {
color: #4a4a4a !important;
}
.masthead .main-nav-section ul.tier2>li i.menu-indicator {
color: #E2642C !important;
}
}
@media (max-width: 835px) and (min-width: 768px){
.main-nav-section {
	font-size: 14px;
	}
}
/* Mobile Styling*/
@media (max-width: 767px) {
.masthead ul.tier3 {
border-left: 4px solid #E2642C !important;  
}
.masthead ul.tier4 {
border-left: 4px solid #E2642C !important;  
}
.masthead ul.tier1 > li:hover > a {
color: #005D84 !important;
}
.masthead .search-container {
border-bottom: 4px solid #E2642C !important;
}
.masthead .main-nav-section {
background-color: #f7f7f7 !important;
}
}
/* Button Styling*/
.btn {
padding:7px 12px 6px 11px;
}
.btn-link-xs {
padding: 3px 6px; color: #fff;
}
.btn-success {
background-color: #005d84;
border-color: #4197B4;
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success.focus, 
.btn-success:active, 
.btn-success.active, 
.open>.btn-success.dropdown-toggle {
background-color: #4a4a4a;
}
.btn-primary {
background-color: #e2642c;
border-color: #e2642c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
background-color:#e2642c;
border-color:#e2642c;
}
/*Typography Styling*/
body {
font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,"Helvetica Neue","Meiryo UI Reg","MS UI Gothic Reg","Hiragino Kaku Gothic Reg","Microsoft YaHei","Hiragino Sans GB","Microsoft JhengHei","Malgun Gothic",Gulim,Tahoma,"Arial Unicode",sans-serif;
}
h1,h2,h3,h4,h5,h6 {
font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,"Helvetica Neue","Meiryo UI Reg","MS UI Gothic Reg","Hiragino Kaku Gothic Reg","Microsoft YaHei","Hiragino Sans GB","Microsoft JhengHei","Malgun Gothic",Gulim,Tahoma,"Arial Unicode",sans-serif;
}
/*Misc Styling*/
#PageNotFoundAnchor{
margin-top: 75px;
}
*::before, *::after {
box-sizing: border-box;
}
*::before, *::after {
box-sizing: border-box;
}
a.text-primary:hover {
color: #e2642c;
}
a.bg-primary:hover {
background-color: #e2642c;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
background-color: #005D84;
}
.breadcrumb{
padding-top: 8px;
text-transform: capitalize;
}
@media (max-width: 767px) {
#resources-mobile a{
border-left: 4px solid #e2642c;
border-bottom: 1px dotted #aaa;
padding-left: 15px;
}
}
